.ant-list-bordered .ant-list-item, /* Remove o raio de borda dos itens */
.ant-list-bordered .ant-list-footer {
  border-top: 1px solid #000; /* Personaliza a borda com 2px de largura na cor preta (#000) */
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0; /* Remove o raio de borda */
}

/* ListExample.css */
.list-container .sss-list {
  border-top: 1px solid #000;
  border-radius: 0;
}

.custom-list {
  display: flex;
}

.custom-list div {
  flex: 1;
  margin-right: 10px; /* Espaçamento entre as colunas */
}

.custom-list div:last-child {
  margin-right: 0; /* Remove o espaçamento da última coluna */
}
