.custom-col {
  flex: 1;
}

.custom-date-input {
  width: 150px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
}
.container-input-operator {
  justify-content: flex-end;
  align-items: center; 
}

.input-operator-name {
  padding: 8px;
    border: 1px solid #000;
}

.operator-text {
  margin-right: 10px;
}

.input-row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-accountId {
  flex: 1 0 auto;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.input-row-bottom button {
  flex: 0 0 auto;
}

.custom-col:not(:last-child) {
  margin-right: 15px;
}

.pagination {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid #000;
}
