.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-col {
  flex: 1;
}

.custom-date-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
}

.custom-operator-name-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
}

.input-accountId {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-accountId {
  flex: 1 0 auto;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.input-accountId button {
  flex: 0 0 auto;
}

.custom-col:not(:last-child) {
  margin-right: 15px;
}
